.bar {
  fill: #DC4404;
  stroke:#F3BB3B;
}

.bar:hover {
  fill:#ED9729;
}  

.axis{
    stroke: #F3BB3B;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

.axis line {
    stroke: #F3BB3B;
  }

.axis path {
    stroke: #F3BB3B;
  }

.axis--x path {
  display: none;
}
